body{background-color: #fff(59, 52, 52);}
.header1{color: #fff;}
input{size: block;}
div {
    text-align: center;
}
.gradeDiv{
    display: block;
    margin-top: 2%;
    margin-left: 35%;
    border: solid yellow;
    padding: 3px;
    
}
h1{
    color: yellow;
    text-align: center;
}
.inputDiv{
    width: 1000px
}
p{
    color: #fff;
}